.modal__backdrop {
	background: rgba(0, 0, 0, .65);
	bottom: 0;
	left: 0;
	overflow: auto;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1;
}

.modal__container {
	background: #fff;
	border-radius: 5px;
	max-width: 100%;
	margin: 203px auto;
	padding: 15px;
	width: 560px;
}

.modal__title {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 25px;
}

.modal__content{
	min-height: 100px;
}

.modal__container button{
	margin: 0 8px;
}